* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 0.96em;

    /* global config */
    --background-color-image: linear-gradient(#101010 0 80%, #171717 100%);
    --background-color-top: #101010;
    --background-color-bottom: #171717;
    --default-color: #e1d012;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: var(--background-color-image);
    color: var(--default-color);
}
content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#submission-form {
    z-index: 1;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--background-color-bottom);
    border: 1px solid var(--default-color);

    & fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
    }
    & #actions {
        display: flex;
        justify-content: center;
        margin: 1em;
    }
}
.form {
    top: -100%;
    transition: 0.5s ease-in-out;
}
.open {
    top: 0%;
}

#application-data-and-action-commands-header {
    display: flex;
    flex-direction: column;
    margin: 0.3em 0;
    width: 100%;
    border-bottom: 1px solid var(--default-color);

    & #progress-report-headline {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid var(--default-color);
    }
    & #action-commands {
        display: flex;
        list-style: none;

        & li {
            padding: 0 0.2em;
            border-right: 1px solid var(--default-color);
        }
        & #submit-tab {
            padding: 0.3em;
            background-color: var(--background-color-top);
            border: none;
            color: var(--default-color);

            &:hover {
                background-color: var(--default-color);
                color: var(--background-color-top);
                cursor: pointer;
            }
        }
    }
}
#application-chart-and-insight-tool {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    padding: 0.2em;

    & #application-progress-chart-container {
        display: flex;
        flex-direction: column;
        margin: 0 0.2em 0 0;
        width: 70%;
        height: 100%;
        border: 1px solid var(--default-color);
    }
    & #no-data {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 5em;
        opacity: 0.3;
    }
    & #insight-tool-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--default-color);
        width: 25%;

        & h1 {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid var(--default-color);
        }
    }
}
#application-container {
    margin: 0.3em 0;
    height: 49.8%;
    width: 100%;
    border: 1px solid var(--default-color);
    & #table-header {
        display: flex;
        width: 100%;
        & ul {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            list-style: none;
            padding: 0 0.5em;
            border-bottom: 1px solid var(--default-color);
            & li {
                display: flex;
                justify-content: center;
                width: 20%;
            }
        }
    }
    & #application-table {
        height: 100%;
        width: 100%;
        & tr {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            
            & th {
                width: 20%;
            }
            & select {
                background-color: var(--background-color-bottom);
                color: var(--default-color);
                border: none;
                &:focus {
                    outline: none;
                }
            }
            &:hover, &:hover select {
                background-color: var(--default-color);
                color: var(--background-color-bottom);
            }
        }
    } 
}