{% extends "base.html" %}
{% block head %}
<title>Application Tracking Tool</title>
<link rel="stylesheet" href="/static/styles.css">
<script type="text/javascript" src="/static/scripts.js"></script>
<script src="https://cdnjs.com/libraries/Chart.js"></script>
{% endblock %}
{% block content %}
<div id="application-data-and-action-commands-header">
    <ul id="progress-report-headline">
        <li>
            total submission:
            <span>{{ overall_volume }}</span>
        </li>
        <li>
            hits:
            <span>{{ hit_volume }}</span>
        </li>
        <li>
            misses:
            <span>{{ missed_volume }}</span>
        </li>
        <li>
            pending:
            <span>{{ pending_volume }}</span>
        </li>
    </ul>
    <ul id="action-commands">
        <li>
            <input type="button" id="submit-tab" onclick="drop_submission_form()" value="new submission">
        </li>
    </ul>
    
</div>
<form class="form" action="{{ url_for('post_application_data') }}" method="post" id="submission-form">
    <fieldset>
        <label for="job-title">Job Title</label>
        <input type="text" id="job-title" name="job-title"><br>

        <label for="company">Company</label>
        <input type="text" id="company" name="company-name">

        <label for="job-link">Job Link</label>
        <input type="text" id="job-uri" name="job-uri">
    </fieldset>
    <input type="submit" value="submit">
    <input type="button" onclick="exit_submission_form()" value="cancel">
</form>
<content>
    
    <div id="application-chart-and-insight-tool">
        <section id="application-progress-chart-container">
            {% if app_volume_data is defined %}
                <canvas id="hit-miss-ratio-graph"></canvas>
            {% else %}
                <div id="no-data">
                    <h1>No Data</h1>
                </div>
            {% endif %}

        </section>
        <div id="insight-tool-container">
            <h1>Insight</h1>
        </div>
    </div>
    <section id="application-container">
        <div id="table-header">
            <ul>
                <li>Date</li>
                <li>Job Title</li>
                <li>Company</li>
                <li>Job Description</li>
                <li>Status</li>
            </ul>  
        </div>
        <table id="application-table">
            {% for application in application_record['overall_submission'] %}
            <tr>
                <th>{{ application['date_submitted'] }}</th>
                <th>{{ application['job_title'] }}</th>
                <th>{{ application['company_name'] }}</th>
                <th>{{ application['job_uri'] }}</th>
                <th>
                    <select>
                        <option value="pending">pending</option>
                        <option value="passed_screening">hit</option>
                        <option value="rejected">missed</option>
                    </select>
                </th>
            </tr>
            {% endfor %}
        </table>
    </section>
</content>
{% endblock %}